<li class='list-item'>
  <a href='#' class='list-item__link' data-id='{{this.id}}'>
    <img
      src='{{this.image}}'
      alt='{{this.name}}'
      data-id='{{this.id}}'
      class='list-item__img'
    />
    <h3 class='list-item__title' data-id='{{this.id}}'>{{this.name}}</h3>
    <time class='list-item__date' data-id='{{this.id}}'>{{this.data}}</time>
  </a>
  <a class='list-item__location-link' href='#'>{{this.city}},
    {{this.address}}, coordinate: longitude [{{this.longitude}}], latitude [{{this.latitude}}]</a>
</li>